div.color
{
  width:      256px;
  height:     256px;
  background: #800000;
  margin:     5px;
  border:     2px solid rgba(0, 0, 0, 1);
  display:    inline-block;
}

div.colors
{
  width:      100%;
  height:     256px;
  text-align: center;
}

h1
{
  text-align: center;
}

button, p
{
  position:   absolute;
}

.language
{
  position:   absolute;
  top:        5px;
  right:      5px;
  padding:    20px;
}